{% extends 'base.html.twig' %}

{% block body %}
    <h1>Overtimehour</h1>

    <table>
        <tbody>
            <tr>
                <th>Startdate</th>
                <td>{% if overtimeHour.startDate %}{{ overtimeHour.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if overtimeHour.endDate %}{{ overtimeHour.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        <tr>
            <th>Hours</th>
            <td>{{ hours }}
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('overtimehours_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('overtimehours_edit', { 'id': overtimeHour.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
